数据预处理

In [6]:
import pandas as pd

df4 = pd.read_csv("../datasets/mfp/april-flowspeed.csv", index_col="t")
df5 = pd.read_excel("../datasets/mfp/flowspeeds.xlsx", index_col="t")
new_df = pd.concat([df4, df5])

In [7]:
new_df.to_csv("../datasets/mfp/train_data.csv")

In [8]:
new_df

                           v
t
2023/4/1 0:00        100.211
2023/4/1 0:01        100.991
2023/4/1 0:02        101.731
2023/4/1 0:03        101.771
2023/4/1 0:04        102.914
...                      ...
2023-05-29 23:55:00  115.459
2023-05-29 23:56:00  114.816
2023-05-29 23:57:00  115.668
2023-05-29 23:58:00  114.803
2023-05-29 23:59:00  117.052

[83520 rows x 1 columns]